.logo {
  height: 100px;
  width: 100px;
}

.section{
    padding-bottom: 80px;
}

.header {
  background-color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  justify-content: space-between;
}

/*Banner CSS*/
h1{
  font-weight:700;
  font-size:36px;
  color:#CDF5FD;
  width:700px;
  margin:auto;
}

.banner img{
  height:730px;
  width:1512px;
  align-items:center;
  filter: brightness(70%);
}

.banner p{
  font-weight:500;
  font-size:20px;
  line-height:150%;
  color:#CDF5FD;
  padding-top:10px;
  padding-bottom:40px;
}

/*About Us*/
.about-us{
  margin-top: 45px;
}
h2{
  font-weight:700;
  font-size:36px;
  line-height:150%;
  color:#00A9FF; 
  margin-bottom:20px;
}

.about-us p{
  font-weight:500;
  font-size:16px;
  color:#585858;
  text-align:justify;
}

/*Products*/
.products{background:#CDF5FD;position:relative;}
.card-title{font-size:20px;font-weight:600;height:40px;text-align:center;color:#00A9FF;}
.products img{height:300px;}
.card-text{font-size:16px;font-weight:400;color:#585858;text-align:justify;}
.card-body{align-items:center;}
.products a{text-decoration:none;color:#00A9FF;padding-left:35%;}
.products a:hover{text-decoration:underline;color:#89CFF3;}


/* CSS for a fixed footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  min-height: 100%;
  background: #f1f1f1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  transition: 0.6s;
  z-index: 1000000;
}

header.sticky {
  background: #fff;
  padding: 5px 100px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
  letter-spacing: 2px;
  font-weight: 500px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.logo {
  width: 75px;
  height: 75px;
}

.logofooter {
  width: 75px;
  height: 75px;
}

header.sticky ul li a {
  color: #000;
}

footer {
  margin-top: auto;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div ul li {
  position: relative;
  list-style: none;
}

footer div ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  transition: 0.6s;
  letter-spacing: 2px;
  font-weight: 500px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
